/*General*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#contenedor{
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
}
body{
    width:100%;
    height: 100%;
}

a:visited{
    text-decoration: none;
}
/*Contenedor del body mientras busqueda*/
.ctn-container{
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.566);
    position: fixed;
    display: none;
}


/* Estilos para dispositivos móviles de hasta 600px de anchura */
@media (min-width: 1120px) {
    .nav{
        align-items: center;
        display: flex;
    }
    .nav>div{
        max-width: 1000px;
        
    }
    .body-content {
        max-width: 1000px;

    }
    .container{
        max-width: 1000px;
        margin: auto;
    }
    .navegador-contenidos{
        width: 1200px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navegador-contenidos> ul{
        width: 800px;
        background-color: blue;
    }
    .navegador-contenidos> ul>button{
        display: inline-block;
        font-size: 20px;
        border: none;
        border-right: 1px solid black ;
        border-top: 1px solid black ;
        border-left: 1px solid black;
        margin-right: 0px;
        padding: 10px;
        width: 16.4%;
    }
}
    
@media screen and (max-width: 800px) {
    html {
        overflow-x: hidden;
    }
    /*Barra de Encima*/
    .barra{
        background-color: blue;
        width: 100%;    
        height: 80px;
        position: fixed;
        display: block;
        z-index: 5;
    }
    /*Navegado*/
    .nav{
        display: block;
        position: fixed;
        height: 1000px;
        width: 200px;
        background-color: white;
        left: -500px;
        z-index: 4;
        transition: 300ms;
    }
    .nav>div>ul{
        display: block;
        margin-top: 85px;
    }
    .nav>div>ul>li{
        position: relative;
        padding: 10px 20px;
        background-color: red;
        margin-top: 5px;
    }
     
  
    /*Icono de barras*/
    #icono-barras{
        display: block;
        position: fixed;
        left:0px   ;
        font-size: 20px;
        top: 0px;
        z-index: 6;
            
    }

    .img-portada{
        display: none;
    }
    /*Contenedor del buscador*/
    
   
}